# Bare Bones Example

In [1]:
from sklearn.metrics import accuracy_score

In [2]:
import joblib
model = joblib.load("../models/rf_model.pkl")  # requires saved model (can use titanic-demo.ipynb to generate this)

In [3]:
import pandas as pd
test_df = pd.read_csv("../data/preprocessed_test.csv") # requires saved data (can use titanic-demo.ipynb to generate this)
test_df.head()

      Sex Embarked   Title  Pclass   Age  SibSp  Parch   Fare  Survived
0    male        S  Master       3   6.0      0      1  12.48         1
1    male        S      Mr       3  29.0      0      0   8.05         0
2  female        C    Miss       3   9.0      1      1  15.25         0
3    male        Q      Mr       3   NaN      0      0  15.50         0
4    male        C      Mr       3   NaN      0      0   7.23         1

In [4]:
from trubrics.context import DataContext, ModelContext
data_context = DataContext(
    name="my_dataset",
    testing_data=test_df,
    target_column="Survived"
)
model_context = ModelContext(
    name="my_model",
    version="0.1",
    estimator=model,
    evaluation_function=accuracy_score
)

In [5]:
from trubrics.validators.base import Validator
model_validator = Validator(data=data_context, model=model_context)

In [6]:
# trubrics model validator has some utils methods...
data_context.features

['Sex', 'Embarked', 'Title', 'Pclass', 'Age', 'SibSp', 'Parch', 'Fare']

In [7]:
# ... and many pre-built tests
my_first_validation = model_validator.validate_performance_against_threshold(threshold=0.8)
my_first_validation.dict()

{'validation_type': 'validate_performance_against_threshold',
 'validation_kwargs': {'args': [], 'kwargs': {'threshold': 0.8}},
 'outcome': 'fail',
 'result': {'performance': '0.7966101694915254'}}

In [8]:
# ... and an object to save all of your tests in a json file
from trubrics.context import TrubricContext

TrubricContext(
    name="my_first_trubric",
    model_context=model_context,
    data_context=data_context,
    validations=[my_first_validation],
).save(path="../data")